<div class="container pt-3">

        <h1 class="alert-danger rounded-2 px-sm-1">Произошла ошибка</h1>


    <p>Попробуйте выполнить операцию еще раз - <a href="{{history}}">нажмите сюда</a></p>
<a href="/">На главную</a>
</div>