<h1>Тут другой макет</h1>
<p>Мы используем различные варианты отображения информации на страницах нашего сайта.
Специально для большего удобства.</p>
<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
    <tr>
        <td valign="top">
            <table cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="200" valign="top">
                </tr>
                <tr>
                    <td width="200" valign="top"><p>
                        Спасибо за заказ поездки
                        В Meadowlark Travel, .</p>
                        <p> Ваш номер бронирования: .
                        </p></td>
                </tr>
                <tr>
                    <td width="200" valign="top">Проблемы
                        с бронированием? Свяжитесь с Meadowlark Travel по номеру
                        <span class="mobile_link">555-555-0123</span>.</td>
                </tr>
            </table>
        </td>
    </tr>
</table>